<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>fileUpload</servlet-name>
    <servlet-class>FileUploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>fileUpload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>fileUpload2</servlet-name>
    <servlet-class>FileUploadServlet2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>fileUpload2</servlet-name>
    <url-pattern>/upload2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>fileUpload3</servlet-name>
    <servlet-class>FileUploadServlet3</servlet-class>

    <multipart-config>
      <max-file-size>1000000</max-file-size>
      <max-request-size>1000000</max-request-size>
      <file-size-threshold>1000000</file-size-threshold>
    </multipart-config>

  </servlet>

  <servlet-mapping>
    <servlet-name>fileUpload3</servlet-name>
    <url-pattern>/upload3</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>fileread1</servlet-name>
    <servlet-class>FileReadServlet1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>fileread1</servlet-name>
    <url-pattern>/read1</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>fileread2</servlet-name>
    <servlet-class>FileReadServlet2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>fileread2</servlet-name>
    <url-pattern>/read2</url-pattern>
  </servlet-mapping>


</web-app>
